<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni0300</key>
  <string>uni0300.glif</string>
  <key>uni0300.space</key>
  <string>uni0300.space.glif</string>
  <key>uni0301</key>
  <string>uni0301.glif</string>
  <key>uni0301.space</key>
  <string>uni0301.space.glif</string>
  <key>uni0307</key>
  <string>uni0307.glif</string>
  <key>uni0307.space</key>
  <string>uni0307.space.glif</string>
  <key>uni0308</key>
  <string>uni0308.glif</string>
  <key>uni0308.space</key>
  <string>uni0308.space.glif</string>
  <key>uni030C</key>
  <string>uni030C_.glif</string>
  <key>uni030C.space</key>
  <string>uni030C_.space.glif</string>
  <key>uni1040</key>
  <string>uni1040.glif</string>
  <key>uni1041</key>
  <string>uni1041.glif</string>
  <key>uni1042</key>
  <string>uni1042.glif</string>
  <key>uni1043</key>
  <string>uni1043.glif</string>
  <key>uni1044</key>
  <string>uni1044.glif</string>
  <key>uni1045</key>
  <string>uni1045.glif</string>
  <key>uni1046</key>
  <string>uni1046.glif</string>
  <key>uni1047</key>
  <string>uni1047.glif</string>
  <key>uni1048</key>
  <string>uni1048.glif</string>
  <key>uni1049</key>
  <string>uni1049.glif</string>
  <key>uni1950</key>
  <string>uni1950.glif</string>
  <key>uni1951</key>
  <string>uni1951.glif</string>
  <key>uni1952</key>
  <string>uni1952.glif</string>
  <key>uni1953</key>
  <string>uni1953.glif</string>
  <key>uni1954</key>
  <string>uni1954.glif</string>
  <key>uni1955</key>
  <string>uni1955.glif</string>
  <key>uni1956</key>
  <string>uni1956.glif</string>
  <key>uni1957</key>
  <string>uni1957.glif</string>
  <key>uni1958</key>
  <string>uni1958.glif</string>
  <key>uni1959</key>
  <string>uni1959.glif</string>
  <key>uni195A</key>
  <string>uni195A_.glif</string>
  <key>uni195B</key>
  <string>uni195B_.glif</string>
  <key>uni195C</key>
  <string>uni195C_.glif</string>
  <key>uni195D</key>
  <string>uni195D_.glif</string>
  <key>uni195E</key>
  <string>uni195E_.glif</string>
  <key>uni195F</key>
  <string>uni195F_.glif</string>
  <key>uni1960</key>
  <string>uni1960.glif</string>
  <key>uni1961</key>
  <string>uni1961.glif</string>
  <key>uni1962</key>
  <string>uni1962.glif</string>
  <key>uni1963</key>
  <string>uni1963.glif</string>
  <key>uni1964</key>
  <string>uni1964.glif</string>
  <key>uni1965</key>
  <string>uni1965.glif</string>
  <key>uni1966</key>
  <string>uni1966.glif</string>
  <key>uni1967</key>
  <string>uni1967.glif</string>
  <key>uni1968</key>
  <string>uni1968.glif</string>
  <key>uni1969</key>
  <string>uni1969.glif</string>
  <key>uni196A</key>
  <string>uni196A_.glif</string>
  <key>uni196B</key>
  <string>uni196B_.glif</string>
  <key>uni196C</key>
  <string>uni196C_.glif</string>
  <key>uni196C.wide</key>
  <string>uni196C_.wide.glif</string>
  <key>uni196D</key>
  <string>uni196D_.glif</string>
  <key>uni1970</key>
  <string>uni1970.glif</string>
  <key>uni1971</key>
  <string>uni1971.glif</string>
  <key>uni1972</key>
  <string>uni1972.glif</string>
  <key>uni1973</key>
  <string>uni1973.glif</string>
  <key>uni1974</key>
  <string>uni1974.glif</string>
  <key>uni200B</key>
  <string>uni200B_.glif</string>
  <key>uni200C</key>
  <string>uni200C_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uni3001</key>
  <string>uni3001.glif</string>
  <key>uni3002</key>
  <string>uni3002.glif</string>
  <key>uni3008</key>
  <string>uni3008.glif</string>
  <key>uni3009</key>
  <string>uni3009.glif</string>
  <key>uni300A</key>
  <string>uni300A_.glif</string>
  <key>uni300B</key>
  <string>uni300B_.glif</string>
</dict>
</plist>
